.selectContainer {
    width: 300px;
  }
  
  .selectControl {
    background-color: #fff;
    border-radius: 8px;
  }
  
  .select {
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }
  